.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  margin-top: 1rem;
}
